node_modules/
.env
.env.*
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnpm-debug.log*
.DS_Store
coverage/
dist/
tmp/
.vscode/
.cache/
actual-sync/
actual-budget/
account-mapping.json
*.code-workspace
*launch.json
*.paw